# -----------------------|
# Optionally, set default build values
#
# 3= buildpkg -b unstable -c -p (Manjaro buildpkg in clean chroot on unstable branch)
# 2= makepkg -srci (makepkg with installation)
# 1= buildpkg -c -p (Manjaro buildpkg in clean chroot on stable branch)
# 0= makepkg -src (makepkg only building)
var=3
#
# -----------------------|
# Timer settings in seonds for the auto mode below
timer=60
#
# -----------------------|
# 1= Run the script in a loop with the above timer settings
# 2= Run the script manually
mode=2
